[Unit]
Description=Force ZFS sync and flush caches
Wants=zfs-flush.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zfs-flush.sh your-zpool-name
StandardOutput=journal
StandardError=journal
